<!DOCTYPE html>
<html>
<head><title>Confirmado</title></head>
<body>
    <div class="sidebar-img">
        <img src="{{ url_for('static', filename='img/Logo - Raposa e o meu Rosto - SemiTransparente.png') }}" alt="Logo" />
    </div>
    <div class="bottom-right-img">
        <img src="{{ url_for('static', filename='img/Logo - Raposa e o meu Rosto - SemiTransparente.png') }}" alt="Logo Raposa" />
    </div>
    <div class="container">
  <h2>Seu email foi confirmado!</h2>
  <p>Agora você pode <a href="/login">fazer login</a>.</p>
    </div>
</body>
</html>
